body{
    background: rgb(29,40,41);
    background: -moz-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    background: linear-gradient(90deg, rgba(29,40,41,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(29,40,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
   color: white;
   padding: 3rem;

}
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body{
    /* overflow-y: hidden; */
     overflow-x: hidden; 
}
  
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.logo{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.contanct-btn{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgba(143,143,143,0.2);
    border:1px solid rgba(102,102,102,0.5);
    border-radius:50px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.contanct-btn:hover{
    background-color: #aedad537;

}
main{
    overflow: hidden;
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}
.title-section{
   margin-top: 3rem;
}
main h1{
    text-align: center;  
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1;
  background-image: linear-gradient(rgb(133,133,133),rgb(255,255,255));
  color: transparent;
  background-clip: text;
}
main h2{
    text-align: center;  
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1;
  background-image: linear-gradient(rgb(133,133,133),rgb(255,255,255));
  color: transparent;
  background-clip: text;
  display: none;
}

.location p{
    background-image: linear-gradient(to right, #76b0ab, #ffffff,#842626);
    color: transparent;
     background-clip: text;
     font-size: 1.5rem;
}

.bio-section{
    margin-top: auto;
    margin-bottom: 2rem;
}

.bio{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 22rem;
}

.scroll-down{
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.scroll-down::before,
.scroll-down::after{
   content: "";
   position: absolute;
   top: 20%;
   left: 50%;
   height: 10px;
   width: 10px;
   transform: translate(-50%,-100%) rotate(45deg);
   border: 2px solid lightgray;
   border-top:transparent;
   border-left: transparent;
   animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before{
    top:30%;
    animation-delay: 0.8s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%,60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }

}

.planet-3D{
    position: absolute;
    /* top: 220px; */
    top: -7%;
    right: -14%;
    width:130%;
    height: 130%;
}

@media (max-width: 1400px){
    main h1{
        font-size: 5rem;
        letter-spacing: 0;
    }
    
}

@media ( max-width:1200px){
    main h1{
        display: none;
    }
    main h2{
        display: block;
        margin-top: 0.7rem;
        font-size: 4rem;
    }
    .bio-section{
        /* margin-top:3rem; */
        margin-bottom: 1rem;
    }
    .bio{
        font-size: 0.8rem;
        max-width: 15rem;
    }
    .location p{
        font-size: 1.2rem;
    }
    /* .planet-3D{
        position: absolute;
         top: 220px; 
        top: -20%;
        right: -9%;
        width:100%;
        height: 100%;
    } */
    
}
@media(max-width: 480px){
    body{
        padding: 2rem;

    }
    main h2{
        font-size:2rem ;

    }
    .logo{
        font-size: 0.8rem;

    }
    .contanct-btn{
        padding: 0.4rem 1.5rem;
        font-size: 0.9rem;
    }
}
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}

.section-title{
   font-size: 40px;
   font-weight: 700;
}
.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;

}
.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 60vh;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.3s;
}
.card img{
    width: 70%;
    height: 60%;
    object-fit: cover;
}

.card h1{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}
.card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: gray;
    font-size: 13px;
    line-height: 20px;
}
.card video{
    margin-top: 10%;
    width: 90%;
    height: 70%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.card:hover{
    box-shadow:0 0 15px rgb(67, 179, 153);
}
.card:nth-child(3){
    grid-row: span 2;
    height: 83vh;
}
.card:nth-child(3)p{
    bottom: 12%;
}
.card:nth-child(3)h1{
    bottom: 21%;
}

.card:nth-child(4)p{
    max-width: 800px;
}
.card:nth-child(4)h1{
    bottom: 35%;
}
.my-projects{
    display: flex;
    flex-direction: column;
    gap:10%;
    align-items: center;
    position: relative;
    width: 80%;
    height:100vh ;
    margin-top:100px;
    margin-bottom: 200px;

}
.project-card{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 10%;
    justify-content: center;
}
.project-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    cursor: pointer;
    min-width: 400px;
    transition: 0.5s;
    mix-blend-mode: difference;
}
.project-photo img{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 14px rgb(67, 179, 153); 
    transition: 0.5s;
    border-radius: 10px;
}
.project-photo img:hover{
    
    box-shadow: 0 0 30px rgb(67, 179, 153);
    
}
.project-info{
  width: 90%;
  font-size: 25px;
  font-weight: bold;
  /* text-wrap: nowrap;  */
  margin-bottom: 10px;
  margin-top: 0;
  max-width: 450px;
}
.project-info h1{
    margin-bottom: 20px;
}
.project-info p{
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 18px;
}
.project-info button{
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s;
}
.project-info button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}
.skills-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.skills-box{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}
.skills-box img{
    width: 60%;
    object-fit: cover;
    overflow: hidden;
    mix-blend-mode: lighten;
    opacity: 0.7; 
    margin-left: 20%;
}
/* .skills-image{
    width: 20%;
    object-fit: cover;
    overflow: hidden;
    mix-blend-mode: lighten;
    opacity: 0.7;
} */
 .designer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    left: 5%;
    max-width: 300px;
 }
 .designer p{
    margin-top: 20px;
 }
 .coder{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 25%;
    right: 5%;
    max-width: 300px;
 }
 .coder p{
    margin-top: 20px;
 }
 .skills-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

 .skills-box h1{
    font-size: 50px;
    display: flex;
    align-items: center;
 }
 .skills-box p{
    line-height: 23px;

 }

.slider{
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 60%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90% transparent);
    mix-blend-mode: difference;
    opacity: 0.8;
}
 .slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
 }
 .slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
 }

 .slider .list .item img{
    width: 100%;
 }

 @keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
 }
 .slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
 }
 .slider .item:hover{
    filter: grayscale(0);
 }
 .contact-section{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap:10%;
    align-items: center;
    position: relative;
 }
 .contact-section h1{
    position: absolute;
    top:10%;
    left: 40%;
 }

 .contact-box p{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 5px;
 }
 .contact-box input{
    padding: 7.5px 30px;
    background-color: lightgray;
    width: 80%;
    height: 25px;
    border: none;
    outline:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .contact-box textarea{
    padding: 7.5px 30px;
    background-color: lightgray;
    width: 80%;
    height: 25px;
    border: none;
    outline:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .contact-box button{
    margin-top: 30px;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s;
 }
 .contact-box button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
 }
 .autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view();

 }
 @keyframes autoDisplayAnimation{
    from{
        filter: blur(10px);
        transform: translateY(-200px) scale(0);
    }
    50%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) scale(1);

    }
 }
 @media screen and (max-width:1000px) {
    .section-title{
        font-size: 30px;
    }
    .info-cards{
        grid-template-columns: auto;
    }
    .skills-box {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .autoDisplay {
        text-align: center;
        padding: 10px;
    }
    .card:nth-child(3){
        grid-column: span 2;
        height: 70vh;
    }
    .info-cards .card h1{
        font-size: 20px;
    }
    .card:nth-child(3) h1{
        bottom: 25%;
    }
    .card video{
       
        height: 65%;
        margin-top: 5%;
    }
    .my-projects{
        margin-bottom: 300px;
    }
    .project-photo img{
        width: 250px;
        margin-left: -100px;
    }
    .project-info{
        padding-left:0;
        margin-left: -50px;
    }
    .project-info h1{
        font-size: 20px;
        max-width: 200px;
        text-wrap: wrap;
    }
    .project-info p{
        font-size: 10px;
        text-wrap: wrap;
        max-width: 200px;
        min-width: 0 ;
    }

 }
 @media screen and (max-width:500px) {
    .card img{
        width: 100%;
    }
    .my-projects{
        margin-bottom: 100px;
    }
    .project-card{
        flex-direction: column;
        margin-left: 25%;
        gap:30px;

    }
    .project-info{
        width: 85%;
    }
    .project-info h1{
        text-wrap: nowrap;
    }
    .project-info p{
        max-width: 300px;

    }
    .designer{
        top:15%;
        left:18%;
    }
    .coder{
        top:50%;
        left:18%;
    }
    
    
       
    
    .slider{
        bottom: 0;
    }
    .slider img{
        width: 60%;
    }
    .contact-section{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .contact-section .section-title{
        top: 15%;
        left: 25%;
    }
    footer h1{
        font-size: 17px;
    }
 }

